{% extends 'dreams/main.html' %}

{% block content %}

<div class='home-container'>
  
  <div>
    <h3>Explore Dreams</h3>
    <hr>
      
      <div>
        <a href="{% url 'dreams:home' %}">All</a>
      </div>

    {% for topic in topics %}
      <div>
        <a href="{% url 'dreams:home' %}?q={{ topic.name }}">{{ topic.name  }}</a>
      </div>
    {% endfor %}
  </div>

  <div>
    {% if room_count <= 1 %}
    
    <h5>{{ room_count }} dream that would await me...</h5>
   
    {% else %}
   
    <h5>{{ room_count }} dreams that would await me...</h5>
   
    {% endif %}

    <a href="{% url 'dreams:create-room' %}">Create Room</a>

    <div>
      {% for room in rooms %}
        <div>
	 {% if request.user == room.host %}
          <a href="{% url 'dreams:update-room' room.id %}">Edit</a>
	  <a href="{% url 'dreams:delete-room' room.id %}">Delete</a>
	 {% endif %}
          <span>@{{room.host.username}}</span>
          <h5>{{ room.id }} -- <a href="{% url 'dreams:room' room.id%}">{{ room.name }}</a></h5>
          <small>{{ room.topic.name }}</small>
          <hr>
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock content %}
