{% extends 'dreams/main.html' %}

{% block content %}

<div class='home-container'>
  
  <div>
    <h3>Explore Dreams</h3>
    <hr>
    {% for topic in topics %}
      <div>
	      <a href="{% url 'dreams:home' %}?q={{ topic.name }}">{{ topic.name  }}</a>
      </div>
    {% endfor %}
  </div>

  <div>
    <div>
      {% for room in rooms %}
        <div>
          <a href="{% url 'dreams:update-room' room.id %}">Edit</a>
	  <a href="{% url 'dreams:delete-room' room.id %}">Delete</a>
          <span>@{{room.host.username}}</span>
          <h5>{{ room.id }} -- <a href="{% url 'dreams:room' room.id%}">{{ room.name }}</a></h5>
          <small>{{ room.topic.name }}</small>
          <hr>
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock content %}
